/* Background */
body {
    margin: 0;
    background-color: #F8F8F8;
}
html{
    scroll-behavior: smooth;
}

/* Header */
.header {
    transition: top 0.3s;
    background-color: #C5C6C6;
    display: flex;
    justify-content: space-between;
    background-position: center 0%;
}

/* Logo */
.logo-img {
    margin: 5px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    transition: top 0.3s;
}

.navbar ul {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.navbar li {
    display: inline-flex;
    align-items: center;
}

.navbar li a, .dropbtn {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    width: 150px;
    text-align: center;
    font-size: 16px;
    text-align: center;
    font-weight: medium;
    font-family: 'Inter';
}

.navbar li a:hover, .dropdown:hover.dropbtn {
    color: #F8F8F8;
    transform: scale(1.1);
    height: 1px;
    padding-top: 0px;
}

/* content */
.content-container{
    display:flex;
  justify-content: space-between;
}


/* Sub Navigation part */

.SubPart-container{
  display: block;
    font-family: 'Inter';
     text-align: center; 
    font-size: 16px;
    background-color: #F3F3F4;
    width: 269px;
    height: auto;
    padding-bottom: 200px;
}

/* Profile */

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 269px; 
   
 
}

.profile-picture img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    margin-right: 10px; 
 
}

.user-name {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    text-align: left;
}
.email{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    font-family: 'Inter';
    color: #8C8C8D;
}
.profile-link {
    text-decoration: none; 
    color: inherit; 
    margin-top: 20px;
    margin-bottom: 68px; 
}


.profile-link:hover {
    text-decoration: none; 
    color: inherit; 
    background-color: rgb(206, 202, 202);
transform-style:preserve-3d;
transition: background-color 0.3s;
border-radius: 9px;
}

/* Vertical Navigation bar */
.subNavigation-container {
    display: inline-grid;
    margin-bottom: 68px;
}


.SubNavbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.SubNavbaraActive{
    background-color: #1985F1;
    border-radius: 9px;
    transition: background-color 0.3s;
    margin-left: 8px;
    margin-right: 8px;
}

.SubNavbar a:hover {
    background-color: #F27F18;
    border-radius: 9px;
    transition: background-color 0.3s;
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}

/* Button */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-wrapper {
    margin: 1px; 
    align-items: center;
}

.btnPWChange,
.btnLogout {
    display: inline;
    color: white;
    height: 55px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 32px;
}

.btnPWChange:hover {
    background-color: #1e5edf;
}

.btnLogout:hover {
    background-color: #1e5edf;
}

.btnPWChange {
    width: 206px;
    text-align: center;
    background-color: #8C8C8D;
}

.btnLogout {
    width: 150px;
    text-align: center;
    background-color: #1985F1;
}

.btnlink {
    text-decoration: none;
    color: inherit;
    padding: 30px;
}
.content-part{
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    display: relative;
    z-index: 1;
}

/* Main contents */
.welcomeHead-container {
    display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
}

.welcomeHead {
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 600;
    color: black;
}

.welcomeSub {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: #525354;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px; 
    width: 324px;
    height: 49px;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid #C5C6C6; 
    color: #000000; 
    font-family: 'Inter';
    font-size: 14px;
    background-color: white; 
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-family: 'Inter';
    font-size: 14px;
    width: 310px;

}

.search-bar ::placeholder {
    color: #babbbb;
    font-family: 'Inter';
    font-size: 14px;
   
}


/* box */

.box-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    flex-direction: row;
   
}
 .box-container:hover {
    transform: scale(1.1) translateY(5px);
    transition: transform 0.3s ease;
   
} 

.orange-box,
.pink-box,
.blue-box {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 8px;
    width: 228px;
    height: 100px;
    align-items: center;
    text-align: center;
    cursor: pointer;
   
   
}

.orange-box {
    background-color: #FFD8B4;
   
}
.orange-box :hover {
    transform: scale(1.1) translateY(2px);
    transition: transform 0.3s ease;
   
} 

.pink-box {
    background-color: #FFBCBC;
    margin-left: 56px;
    margin-right: 56px;
  
}
.pink-box :hover {
    transform: scale(1.1) translateY(2px);
    transition: transform 0.3s ease;
   
} 

.blue-box {
    background-color: #A9E0FF;
    margin-right: 0; 
 
}
.blue-box :hover {
    transform: scale(1.1) translateY(2px);
    transition: transform 0.3s ease;
    
    
}

.number {
    font-size: 16px;
    font-family: 'Inter';
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 20px;
}

.txt {
    font-size: 14px;
    font-family: 'Inter';
    color: rgb(0, 0, 0);
    font-weight: 500;
}


/* table part */
.dd{
    display: flex;
    flex-direction: row;
   /* margin-top: 10px; */
    
   
}
.vv{
    display: flex;
    flex-direction: column;
    
}

.tableHead-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 60px; 
    max-width: 578px;
}
.tableCaption{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    color: #000000;
}
.tableButton{
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 700;
    color: #1985F1;
    text-decoration: none;
}


/* table */
.table {
    border-collapse: collapse;
    width: 578px;
     margin-top: 20px; 
    font-size: 14px;
    font-family: 'Inter';
    
}

th, td {
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    color: #4C4D4B;
    width:136px ;
    height: 65px;
    font-weight: 700;
   
}
td{
    border-top: 1px solid #ddd;
    color: #000000;
    height: 35px;
    font-weight: 600;
    
}
td.available{
    color: #1985F1;
}
td.notAvailable{
    color: #FF0000;
}

#map {
    display: flex;
    width: 494px;
    height: 344px;
    z-index: 0;
    border-radius: 32px;
   margin-top: 70px;
   margin-left: 100px;
   align-self: center; 
   border: 0px;

}



/*Footer*/
.footer {
    transition: top 0.3s;
    background-color: #F3F3F4;
    background-position: center 0%;
    justify-content: space-between;
    margin-top: -30px;
  
}
.footerHead{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter';
    padding-top: 20px;
}
.contact-page {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family:'Inter';
    color: black;
    padding: 65px;
}

.quick-nav {
    width: 30%;
    margin-right: 20px;
    color: rgb(12, 12, 12);
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

.quick-nav ul {
    list-style-type: none;
    padding: 0;
    color: #000000;
}

.quick-nav h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.link{
    text-decoration: none; 
    color: inherit; 
    font-size: 16px;
}
.link:hover{
    color: #1e5edf;
}


.quick-nav li {
    margin-bottom: 15px;
    color: #000000;
    font-size: 16px;
}
.quick-nav img{
    align-items: center;
    margin-top: 40px;
   
}
.para{
    font-size: 16px;
    font-family: 'Inter';
}
.copyright {
    text-align: center; 
    background-color: rgb(0, 0, 0); 
    padding: 10px; 
    font-family:'Inter';
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 2;
}
