body {
  margin: 0;
  background-color: #f8f8f8;
}
html {
  scroll-behavior: smooth;
}
.header {
  transition: top 0.3s;
  background-color: #c5c6c6;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #c5c6c6;
  background-position: center 0;
  align-items: center;
}
.logo-img {
  margin: 5px;
}
.backbtn {
  display: block;
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}
.backbtnlink {
  text-decoration: none;
  color: inherit;
}
.backbtn:hover {
  background-color: #505050;
}
.recov-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.recovHeader {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 8px;
  color: #000;
  text-align: left;
  margin-bottom: 6px;
}
.subHeading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #525354;
  text-align: center;
  margin-bottom: 48px;
}
.fieldHeader {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  color: #525354;
  margin-bottom: 8px;
}
.txtField {
  display: flex;
  width: 405px;
  height: 49px;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: none;
  border: 2px solid #c5c6c6;
  padding-left: 20px;
  margin-bottom: 32px;
}
.txtField-e {
  display: flex;
  width: 505px;
  height: 49px;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: none;
  border: 2px solid #c5c6c6;
  padding-left: 20px;
  margin-bottom: 32px;
}
.txtField::placeholder {
  color: #babbbb;
  font-family: Inter;
  font-size: 14px;
}
.txtField-e::placeholder {
  color: #babbbb;
  font-family: Inter;
  font-size: 14px;
}
.spinner-container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 35px;
}
.error {
  color: red !important;
  font-size: 14px;
  font-family: Inter;
  display: block;
  margin: 0 0 5px 5px;
}
#answerError,
#questionError {
  margin-left: 40px;
}
.spinner {
  position: absolute;
  right: 10px;
  display: none;
  font-family: Inter;
  font-size: 14px;
  height: 49px;
  border-radius: 8px;
  box-shadow: none;
  border: 2px solid #c5c6c6;
  padding-left: 20px;
}
.user-type-select {
  display: flex;
  width: 530px;
  height: 49px;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: none;
  border: 2px solid #c5c6c6;
  padding-left: 20px;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 14px;
  background-color: #fff;
}
.btn {
  display: block;
  background-color: #1985f1;
  color: #fff;
  width: 350px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
  border-radius: 8px;
  margin-left: 35px;
}
.btn:hover {
  background-color: #1e5edf;
}
.btn-e {
  display: block;
  background-color: #1985f1;
  color: #fff;
  width: 350px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
  border-radius: 8px;
  margin-left: 120px;
}
.btn-e:hover {
  background-color: #1e5edf;
}
.fieldHeader-e {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  color: #525354;
  margin-bottom: 8px;
  margin-left: 35px;
}
.txtField-e {
  margin-left: 35px;
}
.copyright {
  text-align: center;
  background-color: #000;
  padding: 10px;
  font-family: Inter;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  line-height: 2;
  margin-top: 250px;
}
.back input {
  background: 0 0;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  text-align: center;
  margin-right: 20px;
}
.back input:hover {
  font-size: larger;
}
